@model IEnumerable<Account>

<table class="table table-bordered table-hover table-dark table-striped">
    <tr><th>Name</th><th>Password</th></tr>
    @foreach (Account item in Model) {
        <tr>
            <td>@item.AccountName</td>
            <td>@item.Password</td>
        </tr>
    }
</table>
